[run]
branch = True
source = ss_recon

[report]
exclude_lines =
    pragma: no cover
    raise NotImplemented
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
include =
    ss_recon/*
omit =
    ss_recon/modeling/*