[run]
branch = True
source = meddlr

[report]
exclude_lines =
    pragma: no cover
    raise NotImplemented
    raise NotImplementedError
    if __name__ == .__main__.:
    def __repr__
    def __str__
ignore_errors = True
include =
    meddlr/*
omit =
    meddlr/modeling/*
    meddlr/data/transforms/noise.py
    meddlr/data/transforms/motion.py
    meddlr/data/transforms/noiseandmotion.py
    meddlr/data/transforms/transform.py
    meddlr/utils/*
    meddlr/config/compat.py
    meddlr/engine/defaults.py
    meddlr/engine/hooks.py
    meddlr/engine/train_loop.py 
    meddlr/engine/trainer.py 