[run]
branch = True
source = meddlr

[report]
exclude_lines =
    pragma: no cover
    raise NotImplemented
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
include =
    meddlr/*
omit =
    meddlr/modeling/*