# Inherit fields from the unet.yaml config.
_BASE_: "../../templates/unet.yaml"
# DATALOADER has 14 supervised scans
DATALOADER:
  SUBSAMPLE_TRAIN:
    NUM_TOTAL: 14 
    NUM_UNDERSAMPLED: 13
# Specify an output directory that is unique for this experiment.
OUTPUT_DIR: results://vortex-rm/mridata_knee_3dfse/unet/vortex/vortex_multi_aug_unet_14_scan
DESCRIPTION:
  # Use f-strings to specify reading values in braces ({}) the config file.
  # This can only be done for string fields.
  BRIEF: f"VORTEX Multi Aug U-Net 14 Scan {AUG_TRAIN.UNDERSAMPLE.ACCELERATIONS}x mridata - loss={MODEL.RECON_LOSS.NAME}" 
  EXP_NAME: mridata_knee_3dfse/unet/vortex_multi_aug_unet_14
  TAGS:
  - baseline
  - vortex 
  - 14_scan
  - 16x
  - mridata_knee_3dfse
  - unet
# For no motion aug, A2R and Consistency was removed.
# For UNET, kept META_ARCHITECTURE as UnetModel
MODEL:
  META_ARCHITECTURE: VortexModel 
  UNET:
    CHANNELS: 32
    DROPOUT: 0.0
    IN_CHANNELS: 2
    NUM_POOL_LAYERS: 4
    OUT_CHANNELS: 2
  RECON_LOSS:
    NAME: l1
    RENORMALIZE_DATA: false
  A2R:
    META_ARCHITECTURE: UnetModel
  CONSISTENCY:
    AUG:
      MRI_RECON:
        TRANSFORMS: 
        - name: RandomMRIMultiShotMotion
          tfms_or_gens:
          - name: RandomAffine
            p: 1.0
            angle: 7 
            translate: 0.1
            scale: 1.0
            shear: 0 
          - name: RandomAffine
            p: 1.0
            angle: 0 
            translate: 0.2
            scale: 1.0
            shear: 0 
          - name: RandomAffine
            p: 1.0
            angle: 15 
            translate: 0
            scale: 1.0
            shear: 0 
          nshots: 5
          trajectory: interleaved
          p: 1.0
VERSION: 1