h5py<3.0.0
numpy
natsort
nested-lookup
nibabel
nipype
pandas
pydicom>=1.6.0,<=2.0.0
scikit-image
scipy
seaborn
openpyxl
Pmw
PyYAML
tqdm>=4.42.0
sphinx
sphinx-rtd-theme
recommonmark
sphinx_bootstrap_theme
sphinxcontrib-bibtex>=2.0.0
m2r2